.loader {
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-loader {
    position: relative;
    width: 450px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-icon {
    width: 80px;
    position: absolute;
}

.handle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    animation: handle 3s infinite;
}

.building {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 360px;
    animation: building 3s infinite;
}

.brush-svg {
    animation: brush-svg 3s infinite;
}

@keyframes brush-svg {
    10% {
        opacity: .8;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


@keyframes handle {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 357px);
    }

    100% {
        transform: translate(0, 357px);
    }
}

@keyframes building {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        z-index: 10;
    }
}