body{
  font-size: 100%;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected {
  font-weight: 700;
}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
  font-weight: 700;
}



.button-principal:hover{
  background-color: #f5f5f5 !important;
  color: #5BCCC8 !important;
}


@media (max-width: 345px) {
  body{
    font-size: 20%;
  }
  .title-main1{
    font-size: "25px" !important; 
    color: aquamarine;
   }
}

.ant-menu-light{
  background-color: transparent;
}

::placeholder { color: #8C8C8C; }
  
.field{
  background: white ;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.button-contact-us:hover{
  color: #5BCCC8 !important;
  background: white !important;
}

.services-info:hover{
  background: white;
  color: #4E4E4E !important;
}
